@import "tailwindcss";

@theme {
  --color-primary: #c9941a;
  --color-primary-bright: #e8b84b;
  --color-primary-light: rgba(201,148,26,0.1);
  --color-secondary: #6b5f4e;
  --color-secondary2: #1a1510;
  --color-gold: #c9941a;
  --color-surface: #faf9f5;
  --color-surface2: #f5f3ed;

  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-cairo: "Cairo", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-sourcecodepro: "Source Code Pro", monospace;
  --font-lato: "Lato", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-amiri: "Amiri", serif;
  --font-SairaStencilOne: "Saira Stencil One", sans-serif;
  --font-Salsa: "Salsa", cursive;
  --font-poppins: "Poppins", sans-serif;
  --font-sansation: "Sansation", sans-serif;
}
